@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Azeret Mono", monospace;
}

/* Banner Section Starts */
.banner-section {
    min-height: 652px;
    max-width: 1448px;
    background-image: url("../assets/Hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 2px solid red; */
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

.banner-container {
    margin-top: 26px;
    margin-bottom: 44px;
    max-width: 998px;
    height: 582px;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-container img {
    max-width: 240.28px;
    height: 240px;
}

.banner-container h1 {
    max-width: 998px;
    text-align: center;
    font-size: 39px;
    font-weight: 800;
    color: #0D1321;
    margin-top: 40px;
}

.banner-container p {
    max-width: 916px;
    text-align: center;
    margin-top: 40px;
    font-size: 16px;
    font-weight: 400;
    color: #0D1321;
}

.banner-container button {
    margin-top: 44px;
    width: 208px;
    height: 66px;
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
}

.banner-container button a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

/* Banner Section Ends */
/* --------------------------------------------------------------------------------------------- */
/* Why Web Development Section Starts */
.why-web-dev {
    margin: 0 auto;
    width: 1140px;
    min-height: 1395px;
    /* border: 2px solid red; */
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    /* background-color: aqua; */
    margin-bottom: 88px;
}

.web-dev-container {
    margin: 80px 97px;
    height: 1235px;
    /* border: 2px solid red; */
}

.web-dev-text {
    max-width: 852px;
    /* border: 2px solid red; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 48px;
}

.web-dev-text h1 {
    font-size: 32px;
    font-weight: 800;
    margin: 24px 0px;
    color: #0D1321;
}

.web-dev-text p {
    font-size: 16px;
    font-weight: 400;
    color: #0D1321;
    text-align: center;
}

.card-container {
    /* border: 2px solid black;  */
    margin: 0 auto;
    padding: 48px;
    background-color: white;
    margin-bottom: 35px;
    border-radius: 12px;
}

.web-dev-card {
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    column-gap: 98px;
}

.card-col {
    height: 245px;
    /* border: .5px solid red; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/* .card-col-img {} */

.card-col h2 {
    font-size: 24px;
    font-weight: 700;
    color: rgba(13, 19, 33, 0.7);
}

.card-col p {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}

.card-col button {
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    width: 150px;
    height: 48px;
    border-radius: 2px;
}

.card-col button a {
    padding: 12px 20px 12px 20px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: rgb(13, 19, 33);
}

/* Why Web Development Section Ends */
/* --------------------------------------------------------------------------------------------- */
/* My Inspiration Section Start */
.my-inspiration {
    max-width: 1140px;
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-top: 80px;
}

.text-box {
    max-width: 852px;
    margin: 0 auto;
    /* border: 2px solid black; */
    margin-bottom: 50px;
}

.text-box h1 {
    width: 852px;
    height: 39px;
    color: rgb(13, 19, 33);
    text-align: center;
    margin-bottom: 24px;
}

.text-box p {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    text-align: center;
    color: rgb(13, 19, 33);
}

.media-box {
    width: 1140px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    /* border: 2px solid black; */
}

.media-container {
    width: 1076px;
    /* border: 2px solid black; */
    margin: 35px auto;

}

.media-container iframe {
    border-radius: 16px;
}

/* My Inspiration Section Ends */
/* --------------------------------------------------------------------------------------------- */
/* My Current Target Section Start */
.current-target {
    max-width: 1140px;
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-top: 150px;
}

.skill-box-container {
    /* border: 1px solid black; */
    margin-top: 70px;
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.skill-box {
    min-width: 364px;
    min-height: 300px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}

.skill-box-wrapper {
    max-width: 284px;
    min-height: 220px;
    /* border: 1px solid black; */
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

/* .skill-box-wrapper img{}
.skill-box-wrapper h2{}
.skill-box-wrapper p{} */
.skill-box-wrapper a {
    font-size: 16px;
    font-weight: 700;
    color: rgb(13, 19, 33);
}

/* My Current Target Section Ends */
/* --------------------------------------------------------------------------------------------- */
/*  Section Start */