@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Azeret Mono", monospace;
}

/* Banner Section Starts */
.banner-section {
    min-height: 652px;
    max-width: 1448px;
    background-image: url("../assets/Hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 2px solid red; */
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

.banner-container {
    margin-top: 26px;
    margin-bottom: 44px;
    max-width: 998px;
    height: 582px;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-container img {
    max-width: 240.28px;
    height: 240px;
}

.banner-container h1 {
    max-width: 998px;
    text-align: center;
    font-size: 39px;
    font-weight: 800;
    color: #0D1321;
    margin-top: 40px;
}

.banner-container p {
    max-width: 916px;
    text-align: center;
    margin-top: 40px;
    font-size: 16px;
    font-weight: 400;
    color: #0D1321;
}

.banner-container button {
    margin-top: 44px;
    width: 208px;
    height: 66px;
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
}

.banner-container button a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}

/* Banner Section Ends */

.why-web-dev {
    margin: 0 auto;
    margin-top: 72px;
    max-width: 1140px;
    height: 1395px;
    /* border: 2px solid red; */
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}

.web-dev-container {
    margin: 80px 97px;
    max-width: 946px;
    height: 1235px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.web-dev-text {
    max-width: 852px;
    /* border: 2px solid red; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.web-dev-text h1 {
    font-size: 32px;
    font-weight: 800;
    margin: 24px 0px;
    color: #0D1321;
}

.web-dev-text p {
    font-size: 16px;
    font-weight: 400;
    color: #0D1321;
    text-align: center;
}

.web-dev-card {
    width: 850px;
    height: 255px;
    /* border: 2px solid black; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
}

.card-col {
    width: 477px;
    height: 245px;
    /* border: .5px solid red; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.card-col-img {
    width: 280px;
    height: 245px;
    /* border: .5px solid black; */
}

.card-col h2 {
    font-size: 24px;
    font-weight: 700;
    color: rgba(13, 19, 33, 0.7);
}

.card-col p {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}

.card-col button {
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    width: 150px;
    height: 48px;
    border-radius: 2px;
}

.card-col button a {
    padding: 12px 20px 12px 20px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: rgb(13, 19, 33);
}